<template>
	<div>
		<router-view></router-view>
	</div>
</template>

<script>
	import Login from './Login'

	export default {
		name: "Apps",
		/*components: {
			Login
		}*/
		/*data() {
		},

		created() {
		}*/
	};
</script>