<template>
    <div>
        <div class="row">
            <div id="sidebar" class="col-lg-2">
                <Sidebar/>
            </div>
            <div class="col-lg-10">
                <h3>Home</h3>
                <h5>Welcome {{ full_name }}!</h5>
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar from './Sidebar'
    export default {
        name: 'App',

        components: {
            Sidebar
        },

        data() {
            return {
                full_name: ""
            };
        },

        created() {
            var full_name = localStorage.getItem( 'user_name' );
            this.full_name = full_name;        },

        method: {

        }
    }
</script>
