<template>
</template>

<script>
    export default {
        name: 'App',

        /*data() {
            return {
                full_name: "",
                logout_show: false
            };
        },*/

        created() {
            var full_name = localStorage.getItem( 'user_name' );

            if (typeof(full_name) !== 'undefined') {
            	localStorage.removeItem( 'user_id' );
            	localStorage.removeItem( 'user_name' );
            	localStorage.removeItem( 'user_email' );
            	localStorage.removeItem( 'user_role' );
                this.logout_show = false;
				this.$router.push('/login');
            }

        },

        method: {

        }
    }
</script>


