<template>
    <div>
        <div class="row">
            <div id="sidebar" class="col-lg-2">
                <Sidebar/>
            </div>
            <div class="col-lg-10">
                <form @submit.prevent="RoleSubmit()">
                    <h4>Add Role</h4>
                    <span class="txt1 p-b-11">Name</span>
                    <input id="name" type="text" class="form-control" v-model="name" value="" autofocus>
                    <span class="txt1 p-b-11">Description</span>
                    <input id="description" type="text" class="form-control" v-model="description">
                    <br>
                    <input type="hidden" v-model="id" value="">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar from './Sidebar'
    export default {
        name: 'App',
        components: {
            Sidebar
        },

        data() {
            return {
                id : '',
                name : '',
                description : ''
            };
        },

        methods : {
            RoleSubmit: function() {

                var fields = {
                    id: this.id, 
                    name: this.name, 
                    description: this.description
                };

                //axios.post('/api/roles', fields)
                axios.post('/api/roles', fields)
                .then(res => {
                    //this.$router.push('/home');
                    this.name = '';
                    this.description = '';
                    this.id = '';
                    alert('Role Successfully Added!');
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            }
        }
    }
</script>
