<template>
    <div>
        <div class="row">
            <div id="sidebar" class="col-lg-2">
                <Sidebar/>
            </div>
            <div class="col-lg-10">
                <h3>Roles</h3>
                <table id="user-data" class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="5%" align="center" colspan="2"><router-link :to="{ name: 'roles-create'}">Add</router-link></th>
                            <th width="10%" align="center">Id</th>
                            <th width="40%">Name</th>
                            <th width="40%">Description</th>
                        </tr>
                    </thead>
                    <tbody v-for="(role, key) in roles" v-bind:key="role.id">
                        <tr>
                            <td><router-link :to="{ name: 'roles-edit', params: { id: role.id } }">Edit</router-link></td>
                            <td><a class="" href="#" v-on:click="RoleDelete(role.id)">Delete</a></td>
                            <td>{{ role.id }}</td>
                            <td>{{ role.name }}</td>
                            <td>{{ role.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar from './Sidebar'
    export default {
        name: 'App',
        components: {
            Sidebar
        },

        data() {
            return {
                roles : [],
                role : {
                    id : '',
                    name : '',
                    description : ''
                }
            };
        },


        created() {
            this.fetchRoles();
        },

        methods : {
            fetchRoles() {
                fetch('/api/roles')
                    .then(res => res.json())
                    .then(res => {
                        this.roles = res['data'];
                    });
            },

            RoleDelete: function(id) {

                var fields = {
                    id: this.id,
                    _method: 'DELETE'
                };

                axios.post('/api/roles/' + id, fields)
                .then(res => { 
                    this.fetchRoles();
                    alert('Role Successfully Deleted!');
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            }
        }
    }
</script>
