<template>
	<div>
		<h4 class="sb-logo">Code Exam</h4>
		<ul class="nav flex-column">
		    <li class="nav-item">
		        <router-link to="/home">Home</router-link>
		    </li>
		    <li class="nav-item">
		        <router-link to="/roles">Roles</router-link>
		    </li>
		    <li class="nav-item">
		        <router-link to="/users">Users</router-link>
		    </li>
		    <li class="nav-item" v-if="logout_show">
		        <router-link to="/logout">Logout</router-link>
		    </li>
		</ul>
	</div>
</template>

<script>
    export default {
        name: 'App',

        data() {
            return {
                full_name: "",
                logout_show: false
            };
        },

        created() {
            var full_name = localStorage.getItem( 'user_name' );
            if (full_name !== null) {
            	this.full_name = full_name;
            	this.logout_show = true;
            } else {
            	this.logout_show = false;
            }
        },

        method: {

        }
    }
</script>




				