<template>
    <div>
        <div class="row">
            <div id="sidebar" class="col-lg-2">
                <Sidebar/>
            </div>
            <div class="col-lg-10">
                <form @submit.prevent="UserSubmit()">
                    <h4>User Edit</h4>
                    <span class="txt1 p-b-11">Full Name</span>
                    <input id="full_name" type="text" class="form-control" v-model="full_name" value="" autofocus>
                    <span class="txt1 p-b-11">Email</span>
                    <input id="email" type="email" class="form-control" v-model="email">
                    <span class="txt1 p-b-11">Role</span>
                    <select id="role_id" class="form-control" v-model="role_id">
                        <option value=""></option>
                        <option v-model="role_id" v-for="(role, key) in roles" :value="role.id">{{ role.name }}</option>
                    </select>
                    <span class="txt1 p-b-11">Password</span>
                    <input id="password" type="password" class="form-control" v-model="password">
                    <span class="txt1 p-b-11">Confirm Password</span>
                    <input id="password2" type="password" class="form-control" v-model="password2">
                    <br>
                    <input type="hidden" v-model="id" value="">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar from './Sidebar'
    export default {
        name: 'App',
        components: {
            Sidebar
        },

        data() {
            return {
                full_name : '',
                email : '',
                role_id : '',
                password : '',
                password2 : '',

                roles: []
            };
        },

        created() {
            //this.id = this.$route.params.id;
            var param_id = this.$route.params.id;

            this.fetchRoles();

            if (typeof(param_id) !== 'undefined') {
                this.id = param_id;
                //console.log(this.$route.params.id);
                this.getData(param_id);
            }
        },

        methods : {
            fetchRoles() {
                fetch('/api/roles')
                    .then(res => res.json())
                    .then(res => {
                        this.roles = res['data'];
                    });
            },

            UserSubmit: function() {

                var fields = {
                    full_name: this.full_name, 
                    email: this.email, 
                    role_id: this.role_id, 
                    password: this.password, 
                    password2: this.password2,
                    _method: 'PUT'
                };

                //axios.post('/api/roles', fields)
                axios.post('/api/users/' + this.id, fields)
                .then(res => { 
                    //console.log(res);
                    //this.$router.push('/home');
                    alert('User Successfully Updated!');
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            },

            getData(param_id) {
                //console.log('param_id=' + param_id);
                fetch('/api/users/' + param_id)
                    .then(res => res.json())
                    .then(res => {
                        this.full_name = res.full_name;
                        this.email = res.email;
                        this.role_id = res.role_id;
                        //console.log(res);
                    });
            }
        }
    }
</script>
