<template>
    <div>
        <div class="row">
            <div id="sidebar" class="col-lg-2">
                <Sidebar/>
            </div>
            <div class="col-lg-10">
                <h3>Users</h3>
                <table id="user-data" class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="10%" align="center" colspan="2"><router-link :to="{ name: 'user-create'}">Add</router-link></th>
                            <th width="10%" align="center">Id</th>
                            <th width="30%">Full Name</th>
                            <th width="30%">Email</th>
                            <th width="20%">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, key) in users" v-bind:key="user.id">
                            <td><router-link :to="{ name: 'user-edit', params: { id: user.id } }">Edit</router-link></td>
                            <td><a class="" href="#" v-on:click="UserDelete(user.id)">Delete</a></td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.full_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar from './Sidebar'
    export default {
        name: 'App',
        components: {
            Sidebar
        },

        data() {
            return {
                users : [],
                user : {
                    id : '',
                    full_name : '',
                    email : '',
                    role : ''
                }
            };
        },


        created() {
            this.fetchUsers();
        },

        methods : {
            fetchUsers() {
                fetch('/api/users')
                    .then(res => res.json())
                    .then(res => {
                        this.users = res['data'];
                        console.log(res['data']);
                    });
            },

            UserDelete: function(id) {

                var fields = {
                    id: this.id,
                    _method: 'DELETE'
                };

                axios.post('/api/users/' + id, fields)
                .then(res => { 
                    this.fetchUsers();
                    alert('User Successfully Deleted!');
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            }
        }
    }
</script>
